<a href="https://colab.research.google.com/github/Octa-p/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1105]:
import pandas as pd

In [1106]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1107]:
import os
path = '/content/drive/My Drive/DataViz22_data'

In [1108]:
alldb = pd.read_csv(os.path.join(path, 'alldb.csv'), skipinitialspace = True)

In [1109]:
data_file_path = os.path.join(path,'hospital_list.xlsx')  
hospital = pd.read_excel(data_file_path)

In [1110]:
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

# เลือกข้อมูล

In [1111]:
alldb_01 = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']]
alldb_01

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

# เตรียมข้อมูล alldb

## Dropna

In [1112]:
alldb_dp =alldb_01.dropna()
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [1113]:
print (alldb_dp.dtypes)

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

In [1114]:
alldb_dp['user'].replace({'45-161':'45161','745-61':'74561','71378\n71378':'71378','40591\n40591\n':'40591','17536\n\n17536':'17536',},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

## ต้องการให้ RowKey, phone และ urine เป็น String

In [1115]:
alldb_dp['phone']=alldb_dp['phone'].astype('string')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1116]:
alldb_dp['RowKey']=alldb_dp['RowKey'].astype('string')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1117]:
alldb_dp['urine']=alldb_dp['urine'].astype('string')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1118]:
alldb_dp.dtypes

user            object
RowKey          string
date            object
phone           string
site            object
time            object
urine           string
ov              object
PartitionKey    object
dtype: object

In [1119]:
set(alldb_dp['date'])

{'2022-02-15',
 '2022-02-16',
 '2022-02-17',
 '2022-02-18',
 '2022-02-19',
 '2022-02-20',
 '2022-02-21',
 '2022-02-22',
 '2022-02-23',
 '2022-02-24',
 '2022-02-25',
 '2022-02-26',
 '2022-02-27',
 '2022-02-28',
 '2022-03-01',
 '2022-03-02',
 '2022-03-03',
 '2022-03-04',
 '2022-03-05',
 '2022-03-06',
 '2022-03-07',
 '2022-03-08',
 '2022-03-09',
 '2022-03-10',
 '2022-03-11',
 '2022-03-12',
 '2022-03-13',
 '2022-03-14',
 '2022-03-15',
 '2022-03-16',
 '2022-03-17',
 '2022-03-18',
 '2022-03-19',
 '2022-03-20',
 '2022-03-21',
 '2022-03-22',
 '2022-03-23',
 '2022-03-24',
 '2022-03-25',
 '2022-03-26',
 '2022-03-27',
 '2022-03-28',
 '2022-03-29',
 '2022-03-30',
 '2022-03-31',
 '2022-04-01',
 '2022-04-02',
 '2022-04-03',
 '2022-04-04',
 '2022-04-05'}

In [1120]:
alldb_dp['date'] = pd.to_datetime(alldb_dp['date'],format="%Y-%m-%d") 
alldb_dp

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

### date เป็น YYYY-MM-DD แล้ว

In [1121]:
alldb_dp['time'] = alldb_dp['time'].replace(':','-', regex=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [1122]:
alldb_dp['time'] = pd.to_datetime(alldb_dp['time'],format='%H-%M%-%S',errors='ignore')
alldb_dp

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13-08-39,มีตะกอน,0,0000
186,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09-45-28,ปกติ (เหลืองใส),0,0-1528
187,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10-06-45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14-22-22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14-23-45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14-23-43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00-01-06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08-41-05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08-41-04,มีตะกอน,2,zzz

In [1123]:
set(alldb_dp['time'])

{'08-54-22',
 '11-59-35',
 '14-41-50',
 '10-05-50',
 '14-19-16',
 '11-41-46',
 '08-51-33',
 '18-43-10',
 '09-13-05',
 '10-39-26',
 '13-28-08',
 '10-55-57',
 '11-03-50',
 '14-36-33',
 '17-49-42',
 '11-20-02',
 '14-04-15',
 '08-46-21',
 '11-47-20',
 '12-22-36',
 '14-01-37',
 '09-54-00',
 '16-09-59',
 '09-23-40',
 '13-52-38',
 '17-05-29',
 '17-15-56',
 '16-08-42',
 '17-41-26',
 '21-12-43',
 '15-44-23',
 '10-25-03',
 '09-55-20',
 '12-05-18',
 '13-19-01',
 '11-19-40',
 '11-57-41',
 '12-30-13',
 '15-52-46',
 '10-00-01',
 '13-03-52',
 '10-24-48',
 '16-22-26',
 '10-04-41',
 '11-00-49',
 '10-58-45',
 '18-18-22',
 '13-45-04',
 '14-10-45',
 '09-06-29',
 '11-42-34',
 '12-26-56',
 '11-39-29',
 '17-58-04',
 '09-38-38',
 '13-14-57',
 '14-09-15',
 '10-56-23',
 '10-57-54',
 '10-01-46',
 '16-27-14',
 '12-15-51',
 '16-35-18',
 '09-32-05',
 '14-26-22',
 '09-50-28',
 '09-54-28',
 '16-34-03',
 '14-03-37',
 '14-21-13',
 '14-36-32',
 '11-43-47',
 '16-48-58',
 '15-39-21',
 '11-04-19',
 '09-45-26',
 '15-13-13',
 '11-36-48',
 '15-18-28',
 '12-04-35',
 '12-19-14',
 '12-12-15',
 '11-05-28',
 '10-28-57',
 '10-29-18',
 '15-48-43',
 '16-35-59',
 '10-34-21',
 '15-16-11',
 '21-15-05',
 '17-09-01',
 '11-22-02',
 '11-29-17',
 '22-40-58',
 '21-07-15',
 '16-51-00',
 '09-56-02',
 '14-32-25',
 '23-09-25',
 '12-09-59',
 '16-50-23',
 '09-04-18',
 '10-54-07',
 '09-45-06',
 '14-43-20',
 '12-27-53',
 '14-22-52',
 '11-33-01',
 '14-54-22',
 '13-44-25',
 '10-45-47',
 '09-50-49',
 '10-14-23',
 '13-38-05',
 '11-38-43',
 '09-43-06',
 '08-21-43',
 '10-16-48',
 '09-29-24',
 '10-37-45',
 '13-24-55',
 '09-30-33',
 '12-03-31',
 '13-55-14',
 '12-51-22',
 '09-26-57',
 '15-58-03',
 '10-47-30',
 '15-40-00',
 '12-48-08',
 '16-38-58',
 '11-12-50',
 '07-18-40',
 '10-47-41',
 '10-30-36',
 '14-32-12',
 '15-32-35',
 '15-48-12',
 '14-38-36',
 '10-11-15',
 '18-04-46',
 '14-47-07',
 '10-12-52',
 '08-50-34',
 '10-49-59',
 '11-23-17',
 '10-43-30',
 '08-52-06',
 '14-02-25',
 '14-58-38',
 '10-47-08',
 '10-18-42',
 '11-56-25',
 '16-35-50',
 '14-31-18',
 '09-35-10',
 '18-39-29',
 '11-53-40',
 '08-51-18',
 '13-27-07',
 '13-57-11',
 '16-36-16',
 '11-56-05',
 '12-46-53',
 '12-04-23',
 '10-02-47',
 '17-35-16',
 '17-36-20',
 '11-53-51',
 '12-04-52',
 '16-48-09',
 '17-03-16',
 '16-36-55',
 '08-55-05',
 '15-32-52',
 '11-15-14',
 '16-54-21',
 '13-31-42',
 '10-51-18',
 '15-20-13',
 '15-15-30',
 '18-02-39',
 '11-12-36',
 '10-42-22',
 '14-08-31',
 '10-03-12',
 '11-05-05',
 '15-18-43',
 '18-04-24',
 '19-33-30',
 '11-07-12',
 '11-23-57',
 '10-16-42',
 '13-29-30',
 '11-53-45',
 '09-47-49',
 '10-03-11',
 '12-18-49',
 '09-15-12',
 '14-05-40',
 '11-41-07',
 '15-40-54',
 '14-19-31',
 '19-56-47',
 '14-03-59',
 '08-49-23',
 '15-06-58',
 '11-04-58',
 '09-54-22',
 '10-38-40',
 '10-43-01',
 '15-27-25',
 '11-40-45',
 '11-08-27',
 '10-15-50',
 '16-10-34',
 '16-15-26',
 '13-22-15',
 '10-26-35',
 '14-32-17',
 '14-06-07',
 '13-58-24',
 '12-55-27',
 '11-52-01',
 '15-11-12',
 '12-11-02',
 '21-51-14',
 '16-34-23',
 '10-42-37',
 '10-14-32',
 '10-51-55',
 '23-51-59',
 '16-39-10',
 '11-07-31',
 '12-04-03',
 '22-00-47',
 '11-19-03',
 '11-12-26',
 '11-34-22',
 '12-01-18',
 '10-12-06',
 '18-27-53',
 '09-35-36',
 '12-10-51',
 '10-55-37',
 '11-37-39',
 '09-35-47',
 '10-17-52',
 '08-55-57',
 '12-12-03',
 '10-00-21',
 '15-38-35',
 '13-32-12',
 '15-01-27',
 '13-05-29',
 '13-30-00',
 '15-00-59',
 '19-05-34',
 '15-22-54',
 '21-30-11',
 '11-38-52',
 '12-04-33',
 '15-42-12',
 '09-27-46',
 '10-08-11',
 '10-30-26',
 '11-28-35',
 '10-05-34',
 '16-21-46',
 '10-10-54',
 '18-23-47',
 '19-55-28',
 '18-20-26',
 '13-00-05',
 '14-56-48',
 '11-38-02',
 '13-34-19',
 '12-12-37',
 '14-42-13',
 '15-48-49',
 '12-00-31',
 '12-52-18',
 '14-02-17',
 '16-39-17',
 '12-31-17',
 '15-55-11',
 '10-04-25',
 '10-25-05',
 '15-11-57',
 '11-09-11',
 '16-04-09',
 '14-40-03',
 '16-34-25',
 '14-47-36',
 '11-55-06',
 '12-29-32',
 '13-39-38',
 '12-15-24',
 '11-23-28',
 '14-21-46',
 '10-05-04',
 '13-12-37',
 '17-47-57',
 '15-49-18',
 '15-33-43',
 '11-05-03',
 '13-10-15',
 '16-27-00',
 '09-27-07',
 '14-24-46',
 '10-11-48',
 '10-17-31',
 '13-30-14',
 '11-12-51',
 '18-13-02',
 '13-41-57',
 '16-28-10',
 '15-15-10',
 '10-46-11',
 '10-45-19',
 '16-08-31',
 '14-37-11',
 '14-37-24',
 '13-14-17',
 '15-34-21',
 '12-06-33',
 '09-49-00',
 '10-21-06',
 '12-36-30',
 '12-23-29',
 '16-11-13',
 '10-19-11',
 '17-16-33',
 '11-01-17',
 '12-32-06',
 '09-15-18',
 '13-24-45',
 '11-06-09',
 '09-17-26',
 '09-19-45',
 '18-05-49',
 '11-26-53',
 '11-54-32',
 '16-22-30',
 '11-53-19',
 '08-38-13',
 '08-56-26',
 '14-21-22',
 '12-30-16',
 '16-00-36',
 '12-37-27',
 '14-17-51',
 '16-10-58',
 '11-17-09',
 '14-37-50',
 '10-23-46',
 '19-50-00',
 '15-22-50',
 '12-48-34',
 '17-14-52',
 '12-05-31',
 '14-21-52',
 '18-45-53',
 '11-33-39',
 '14-44-29',
 '14-44-57',
 '12-39-14',
 '15-29-37',
 '09-30-27',
 '14-12-26',
 '12-41-25',
 '14-39-30',
 '15-25-19',
 '16-43-47',
 '15-23-42',
 '08-55-21',
 '14-48-31',
 '11-17-39',
 '10-59-48',
 '15-09-40',
 '12-29-04',
 '15-55-49',
 '15-39-46',
 '10-31-30',
 '10-53-53',
 '14-51-28',
 '18-15-50',
 '21-18-30',
 '11-46-42',
 '13-10-19',
 '10-57-31',
 '14-33-31',
 '15-34-16',
 '10-01-35',
 '10-19-47',
 '10-53-12',
 '14-09-22',
 '18-24-21',
 '19-52-27',
 '12-11-53',
 '17-04-02',
 '12-46-22',
 '17-37-38',
 '09-50-24',
 '10-50-00',
 '13-37-39',
 '09-59-53',
 '15-23-57',
 '13-01-08',
 '22-45-15',
 '10-23-19',
 '10-18-26',
 '11-21-18',
 '10-26-02',
 '13-55-11',
 '10-47-37',
 '11-47-00',
 '11-29-06',
 '17-21-00',
 '14-38-46',
 '11-44-43',
 '10-47-40',
 '15-43-33',
 '15-05-04',
 '17-43-38',
 '14-31-45',
 '15-29-44',
 '09-19-11',
 '12-31-29',
 '15-54-04',
 '15-41-46',
 '16-55-53',
 '13-08-52',
 '10-06-00',
 '09-39-35',
 '09-25-59',
 '18-11-35',
 '15-32-33',
 '15-03-49',
 '15-01-11',
 '17-05-13',
 '15-22-27',
 '14-46-18',
 '08-29-22',
 '09-23-15',
 '15-41-39',
 '14-18-43',
 '16-35-42',
 '11-54-47',
 '09-19-30',
 '11-10-43',
 '17-26-48',
 '15-35-22',
 '09-51-38',
 '15-55-05',
 '14-23-07',
 '14-38-27',
 '12-28-43',
 '13-52-40',
 '14-50-16',
 '11-47-36',
 '12-29-21',
 '16-53-28',
 '11-17-53',
 '16-41-38',
 '17-24-27',
 '09-37-48',
 '10-34-11',
 '15-06-56',
 '14-06-10',
 '22-17-34',
 '16-37-55',
 '14-05-54',
 '11-30-38',
 '15-04-25',
 '11-28-42',
 '15-12-42',
 '14-11-05',
 '15-23-43',
 '11-05-55',
 '21-09-47',
 '15-47-18',
 '10-45-30',
 '13-01-20',
 '13-50-29',
 '09-57-26',
 '13-07-48',
 '11-16-27',
 '09-18-57',
 '13-10-44',
 '20-56-44',
 '10-40-14',
 '09-49-42',
 '12-15-16',
 '09-56-52',
 '11-30-46',
 '15-34-48',
 '15-13-23',
 '09-28-29',
 '16-35-46',
 '14-55-21',
 '15-05-50',
 '16-15-20',
 '11-12-46',
 '14-49-05',
 '13-24-28',
 '14-26-33',
 '10-44-21',
 '16-54-44',
 '11-53-03',
 '10-26-34',
 '11-12-22',
 '11-18-31',
 '14-03-03',
 '11-06-34',
 '12-31-40',
 '11-32-31',
 '14-20-21',
 '15-13-47',
 '16-17-46',
 '10-18-47',
 '10-41-56',
 '11-59-10',
 '11-23-43',
 '14-49-16',
 '00-00-38',
 '10-21-38',
 '10-56-13',
 '15-42-35',
 '15-56-28',
 '14-53-23',
 '13-59-55',
 '10-03-56',
 '20-01-24',
 '11-14-53',
 '15-59-28',
 '17-06-40',
 '00-33-03',
 '12-24-22',
 '09-51-29',
 '17-48-48',
 '12-34-19',
 '11-04-17',
 '11-31-48',
 '10-08-16',
 '10-54-39',
 '14-55-24',
 '13-58-03',
 '09-43-02',
 '12-39-44',
 '14-14-41',
 '08-58-40',
 '16-11-21',
 '10-43-17',
 '10-31-13',
 '11-01-00',
 '14-44-03',
 '09-36-11',
 '09-42-39',
 '14-33-49',
 '14-38-25',
 '09-32-25',
 '13-36-45',
 '18-02-19',
 '12-06-13',
 '10-03-38',
 '09-32-11',
 '11-35-32',
 '16-42-51',
 '11-35-59',
 '12-22-26',
 '10-28-27',
 '09-48-46',
 '17-04-58',
 '12-36-48',
 '13-26-13',
 '14-56-45',
 '15-51-26',
 '10-50-17',
 '12-18-39',
 '10-10-07',
 '18-26-20',
 '11-02-54',
 '10-40-24',
 '15-44-35',
 '09-56-03',
 '10-51-35',
 '10-26-16',
 '11-26-09',
 '13-46-33',
 '12-46-46',
 '15-56-07',
 '11-09-15',
 '14-58-30',
 '19-26-41',
 '09-39-14',
 '16-47-36',
 '16-00-27',
 '12-49-56',
 '10-34-41',
 '16-38-33',
 '10-19-13',
 '10-31-38',
 '14-43-03',
 '11-15-53',
 '11-51-53',
 '15-59-17',
 '18-08-16',
 '16-28-53',
 '13-23-33',
 '11-08-36',
 '16-26-17',
 '12-23-21',
 '15-53-35',
 '11-08-56',
 '12-18-03',
 '12-35-19',
 '14-13-53',
 '10-14-39',
 '11-18-05',
 '13-21-17',
 '08-38-27',
 '12-55-30',
 '11-21-49',
 '15-51-29',
 '16-33-14',
 '13-05-16',
 '15-17-09',
 '13-44-17',
 '14-12-31',
 '16-34-29',
 '19-53-45',
 '10-10-47',
 '11-47-19',
 '10-12-55',
 '09-54-32',
 '11-36-04',
 '14-32-09',
 '12-17-25',
 '12-29-55',
 '13-00-48',
 '13-39-32',
 '15-10-24',
 '11-57-49',
 '19-23-13',
 '18-51-21',
 '13-28-20',
 '11-37-19',
 '11-44-02',
 '13-39-14',
 '14-24-36',
 '10-28-07',
 '19-16-21',
 '10-55-33',
 '12-34-59',
 '14-42-58',
 '11-05-14',
 '12-56-31',
 '11-57-08',
 '12-52-28',
 '10-08-32',
 '22-21-18',
 '09-39-21',
 '15-48-47',
 '16-08-18',
 '14-31-20',
 '11-09-35',
 '14-35-01',
 '10-11-26',
 '16-06-51',
 '20-09-16',
 '08-57-59',
 '13-12-06',
 '11-56-03',
 '10-16-58',
 '14-27-34',
 '15-42-25',
 '10-02-23',
 '16-58-26',
 '17-07-32',
 '16-44-32',
 '12-03-58',
 '13-53-22',
 '17-19-18',
 '13-59-37',
 '12-39-51',
 '11-25-15',
 '11-42-44',
 '16-13-09',
 '19-58-17',
 '09-15-01',
 '13-00-04',
 '15-56-30',
 '12-52-19',
 '10-20-23',
 '19-32-56',
 '16-13-23',
 '12-16-47',
 '15-48-30',
 '14-16-08',
 '09-56-24',
 '14-57-29',
 '10-42-17',
 '14-56-57',
 '13-39-57',
 '06-53-57',
 '15-46-04',
 '12-26-35',
 '10-46-32',
 '09-15-44',
 '16-42-43',
 '11-30-44',
 '11-08-47',
 '09-06-06',
 '09-51-27',
 '09-28-41',
 '15-55-45',
 '11-11-28',
 '09-31-42',
 '13-15-19',
 '14-25-30',
 '11-05-19',
 '10-49-35',
 '15-39-58',
 '16-39-00',
 '12-46-16',
 '12-49-54',
 '15-12-11',
 '11-40-22',
 '12-00-04',
 '09-25-07',
 '11-59-50',
 '10-03-43',
 '15-04-31',
 '09-35-30',
 '16-02-47',
 '21-58-46',
 '11-04-35',
 '13-51-23',
 '11-32-16',
 '12-02-41',
 '09-26-31',
 '10-13-03',
 '11-16-34',
 '10-55-58',
 '10-44-22',
 '11-49-19',
 '15-18-30',
 '12-58-14',
 '09-41-44',
 '16-09-03',
 '10-12-59',
 '09-19-17',
 '16-06-16',
 '13-08-08',
 '11-54-26',
 '19-17-42',
 '17-32-06',
 '09-30-46',
 '13-41-14',
 '08-54-33',
 '17-07-12',
 '09-13-31',
 '17-32-49',
 '15-01-24',
 '11-17-15',
 '15-31-00',
 '12-21-12',
 '14-15-23',
 '10-41-38',
 '10-27-59',
 '11-21-20',
 '10-18-41',
 '15-57-26',
 '13-14-35',
 '11-03-00',
 '11-48-53',
 '10-07-13',
 '13-11-49',
 '10-37-17',
 '10-05-12',
 '11-49-30',
 '11-53-54',
 '10-47-12',
 '12-17-54',
 '11-14-18',
 '17-59-09',
 '12-43-55',
 '12-06-32',
 '14-53-22',
 '12-03-36',
 '15-40-45',
 '15-19-07',
 '13-50-59',
 '11-16-11',
 '11-55-14',
 '16-18-45',
 '10-49-52',
 '12-15-37',
 '16-08-50',
 '12-29-01',
 '09-50-58',
 '10-01-07',
 '12-32-56',
 '17-42-44',
 '09-29-29',
 '09-50-26',
 '10-54-21',
 '12-56-17',
 '11-06-28',
 '10-04-14',
 '11-26-34',
 '11-06-46',
 '17-07-00',
 '10-14-30',
 '12-21-45',
 '12-25-35',
 '16-01-55',
 '15-16-13',
 '16-30-19',
 '11-48-12',
 '16-20-26',
 '14-08-50',
 '09-54-23',
 '14-36-25',
 '11-22-13',
 '14-20-11',
 '09-21-50',
 '14-57-55',
 '12-04-15',
 '15-54-32',
 '10-59-29',
 '10-55-08',
 '10-32-07',
 '09-40-08',
 '11-13-55',
 '15-48-13',
 '09-37-07',
 '09-54-42',
 '12-14-13',
 '17-55-13',
 '15-11-01',
 '10-16-26',
 '12-06-04',
 '15-38-10',
 '15-18-55',
 '12-40-22',
 '15-45-00',
 '14-19-27',
 '18-33-30',
 '09-52-34',
 '15-49-53',
 '17-07-39',
 '16-59-38',
 '13-09-44',
 '12-02-09',
 '13-30-21',
 '10-05-13',
 '13-29-33',
 '12-27-21',
 '14-05-17',
 '10-15-06',
 '14-58-24',
 '09-32-24',
 '16-25-47',
 '09-49-20',
 '09-57-35',
 '16-10-42',
 '10-58-34',
 '11-58-56',
 '16-47-14',
 '11-01-42',
 '11-16-44',
 '16-51-44',
 '16-41-19',
 '12-58-34',
 '14-56-19',
 '12-11-37',
 '12-20-06',
 '13-34-50',
 '09-33-29',
 '10-07-11',
 '11-14-19',
 '16-18-55',
 '09-39-38',
 '14-29-41',
 '13-55-43',
 '14-20-36',
 '17-03-01',
 '10-06-48',
 '15-15-44',
 '19-25-35',
 '12-19-25',
 '10-13-42',
 '17-13-07',
 '09-54-17',
 '13-46-05',
 '10-52-41',
 '21-50-10',
 '16-43-01',
 '09-52-04',
 '10-33-55',
 '09-25-33',
 '08-54-14',
 '11-31-05',
 '12-29-14',
 '09-46-45',
 '14-49-10',
 '11-02-09',
 '12-22-29',
 '15-38-06',
 '09-43-27',
 '18-28-42',
 '11-38-41',
 '09-44-16',
 '10-48-18',
 '16-26-16',
 '11-43-40',
 '10-13-09',
 '10-56-29',
 '10-16-52',
 '11-19-11',
 '12-14-05',
 '09-43-45',
 '16-12-15',
 '09-28-15',
 '10-39-54',
 '10-50-54',
 '14-06-41',
 '12-23-22',
 '14-33-59',
 '12-50-15',
 '11-57-33',
 '11-18-59',
 '10-06-19',
 '11-05-15',
 '08-54-34',
 '16-34-57',
 '11-40-29',
 '11-25-13',
 '12-17-07',
 '12-05-20',
 '10-52-46',
 '15-17-51',
 '16-06-46',
 '22-07-52',
 '11-41-50',
 '13-48-39',
 '16-18-05',
 '11-36-31',
 '14-04-18',
 '09-26-24',
 '15-40-11',
 '10-12-16',
 '12-20-18',
 '11-09-22',
 '16-31-39',
 '14-31-23',
 '11-12-18',
 '18-19-43',
 '09-46-40',
 '11-56-15',
 '10-10-38',
 '11-10-50',
 '10-52-32',
 '12-35-15',
 '08-26-39',
 '15-20-45',
 '15-52-08',
 '15-14-23',
 '13-45-08',
 '14-26-44',
 '08-33-27',
 '09-52-26',
 '10-04-45',
 '10-51-48',
 '10-47-29',
 '18-13-53',
 '11-05-18',
 '09-57-25',
 '13-11-03',
 '15-25-04',
 '10-51-04',
 '13-38-39',
 '14-14-44',
 '15-01-53',
 '16-56-19',
 '15-44-56',
 '11-11-43',
 '10-47-07',
 '16-32-58',
 '10-10-13',
 '09-28-40',
 '14-50-23',
 '10-50-55',
 '15-45-05',
 '11-57-26',
 '14-04-01',
 '15-44-11',
 '10-25-41',
 ...}

### time เป็น hh-mm-ss แล้ว

In [1124]:
#alldb_dp["user"] =alldb_dp["user"].astype(str)
#alldb_dp["site"] =alldb_dp["site"].astype(str)
#alldb_dp["ov"] =alldb_dp["ov"].astype(str)
#alldb_dp["PartitionKey"] =alldb_dp["PartitionKey"].astype(str)

## ลบช่องว่าง (เว้นวรรค) ในคอลัมน์

In [1125]:
#alldb_dp['user'] = alldb_dp['user'].str.strip()
#alldb_dp['site'] = alldb_dp['site'].str.strip()
#alldb_dp['ov'] = alldb_dp['ov'].str.strip()
#alldb_dp['PartitionKey'] = alldb_dp['PartitionKey'].str.strip()

# ทำให้คอลัมน์ user, site, ov และ PartitionKey มี 5 หลัก

In [1126]:
#US=list() 
#for each_row in alldb_dp.iterrows(): 
 #       if str(each_row[1]['user']) <= '99999' : 
#          US.append(True) 
#        else: 
#          US.append(False)  
#    else: 
#          US.append(False) 
#alldb_dp = alldb_dp[US]
#alldb_dp

In [1127]:
#SI=list() 
#for each_row in alldb_dp.iterrows(): 
#    if len(str(each_row[1]['site']))== 5 : 
#        if str(each_row[1]['site']) <= '99999' : 
#          SI.append(True) 
#        else: 
#          SI.append(False)  
 #   else: 
#          SI.append(False) 
#alldb_dp = alldb_dp[SI]
#alldb_dp

In [1128]:
#PK=list() 
#for each_row in alldb_dp.iterrows(): 
#    if len(str(each_row[1]['PartitionKey']))== 5 : 
#        if str(each_row[1]['PartitionKey']) <= '99999' : 
#          PK.append(True) 
#        else: 
#          PK.append(False)  
 #   else: 
  #        PK.append(False) 
#alldb_dp = alldb_dp[PK]
#alldb_dp

In [1129]:
#alldb_dp

In [1130]:
#alldb_dp1 = alldb_dp[alldb_dp['site']!= ' 0502']

In [1131]:
#alldb_dp1

In [1132]:
#set(alldb_dp1['ov'])

In [1133]:
#alldb_dp2 = alldb_dp[alldb_dp['ov']!= 'ติดเชื้อ +2']

In [1134]:
#alldb_dp2

In [1135]:
#alldb_dp3 = alldb_dp2[alldb_dp2['user']!= '6724-']
#alldb_dp3

In [1136]:
#alldb_dp4 = alldb_dp3 [alldb_dp3 ['site']!= '043.1']
#alldb_dp4

In [1137]:
#alldb_dp5 = alldb_dp4 [alldb_dp4 ['PartitionKey']!= '002.5']
#alldb_dp5

# ลอง

In [1138]:
alldb_dp = alldb_dp[(alldb_dp['user'].astype(str).str.isdigit()) & (alldb_dp['user'].str.len() == 5)]                                                              
alldb_dp.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13-08-39,มีตะกอน,0,0000
186,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09-45-28,ปกติ (เหลืองใส),0,0-1528
187,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10-06-45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14-22-22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000

In [1139]:
alldb_dp = alldb_dp[(alldb_dp['site'].astype(str).str.isdigit()) & (alldb_dp['site'].str.len() == 5)]                                                              
alldb_dp.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13-08-39,มีตะกอน,0,0000
186,45161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09-45-28,ปกติ (เหลืองใส),0,0-1528
187,45161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10-06-45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14-22-22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000

In [1140]:
alldb_dp5 = alldb_dp[(alldb_dp['PartitionKey'].astype(str).str.isdigit()) & (alldb_dp['PartitionKey'].str.len() == 5)]                                                              
alldb_dp5.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001

In [1141]:
alldb_dp5

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999

# เตรียมข้อมูล hospital

In [1142]:
hospital

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [1143]:
hospital.isnull().any()

hcode            False
name              True
zone_code        False
zone_name         True
provincecode      True
province         False
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [1144]:
hospital_dp = hospital.dropna()
hospital_dp

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
931,00933,โรงพยาบาลส่งเสริมสุขภาพตำบลสำโรงเหนือ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,2.0,สำโรงเหนือ,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
932,00934,โรงพยาบาลส่งเสริมสุขภาพตำบลบางเมือง,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
933,00935,โรงพยาบาลส่งเสริมสุขภาพตำบลเฉลิมพระเกียรติ บ้า...,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,3.0,บางเมือง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
934,00936,โรงพยาบาลส่งเสริมสุขภาพตำบลบางปูใหม่,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,8.0,บางปูใหม่,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
935,00937,โรงพยาบาลส่งเสริมสุขภาพตำบลแพรกษา,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,10.0,แพรกษา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.0,1 ปฐมภูมิ,สป,SPK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [1145]:
hospital_dp.shape

(11798, 16)

In [1146]:
removes = hospital.shape[0] - hospital_dp.shape[0]
print(f'size before drop = {hospital.shape[0]}')
print(f'size after drop = {hospital_dp.shape[0]}')
print(f'% from drop = {(removes/hospital.shape[0])*100}')

size before drop = 17103
size after drop = 11798
% from drop = 31.017950067239664

## แทนข้อมูล fillna()

In [1147]:
hospital_c = hospital.fillna(value={'name':'ไม่ระบุ','zone_name':'ไม่ระบุ','amphur':'ไม่ระบุ','tambon':'ไม่ระบุ','name5':'ไม่ระบุ','name10':'ไม่ระบุ','short_thai':'ไม่ระบุ','short_english':'ไม่ระบุ'})
hospital_c

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

## แทนข้อมูลด้วย mean

In [1148]:
pc = hospital_c[['provincecode']].mean() 
hospital_c[['provincecode']] = hospital_c[['provincecode']].fillna(pc)

In [1149]:
ac = hospital_c[['amphurcode']].mean() 
hospital_c[['amphurcode']] = hospital_c[['amphurcode']].fillna(ac)

In [1150]:
tc = hospital_c[['tamboncode']].mean() 
hospital_c[['tamboncode']] = hospital_c[['tamboncode']].fillna(tc)

In [1151]:
c4 = hospital_c[['code4']].mean() 
hospital_c[['code4']] = hospital_c[['code4']].fillna(c4)

In [1152]:
c9 = hospital_c[['code9']].mean() 
hospital_c[['code9']] = hospital_c[['code9']].fillna(c9)

In [1153]:
hospital_c.isnull().any()

hcode            False
name             False
zone_code        False
zone_name        False
provincecode     False
province         False
amphurcode       False
amphur           False
tamboncode       False
tambon           False
code4            False
name5            False
code9            False
name10           False
short_thai       False
short_english    False
dtype: bool

## เปลี่ยน hcode ให้เป็น int

In [1154]:
hospital_c1 = hospital_c [hospital_c['hcode']!= '2475x']

In [1155]:
hospital_c2 = hospital_c1 [hospital_c1['hcode']!= '2560x']

In [1156]:
hospital_c2.dtypes

hcode             object
name              object
zone_code          int64
zone_name         object
provincecode     float64
province          object
amphurcode       float64
amphur            object
tamboncode       float64
tambon            object
code4            float64
name5             object
code9            float64
name10            object
short_thai        object
short_english     object
dtype: object

In [1157]:
hospital_c2

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,10.84859,ไม่ระบุ,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.00000,1 ปฐมภูมิ,รบ,RBR

# รวมข้อมูล alldb กับ hospital ทั้งสองตารางเข้าด้วยกัน

In [1158]:
alldb_hos = alldb_dp5.merge(hospital_c2,how='left',left_on='site',right_on='hcode') 
alldb_hos

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,13777,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,06307,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,05328,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,06302,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,05059,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37941,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37942,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37943,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37944,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37945,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1159]:
alldb_hos.isnull().any()

user             False
RowKey           False
date             False
phone            False
site             False
time             False
urine            False
ov               False
PartitionKey     False
hcode             True
name              True
zone_code         True
zone_name         True
provincecode      True
province          True
amphurcode        True
amphur            True
tamboncode        True
tambon            True
code4             True
name5             True
code9             True
name10            True
short_thai        True
short_english     True
dtype: bool

In [1160]:
alldb_hosdp = alldb_hos.dropna()
alldb_hosdp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,13777,...,1.0,เมืองขอนแก่น,1.0,ในเมือง,12.0,โรงพยาบาล นอก สธ.,10.84859,ไม่ระบุ,ขก,KKN
1,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,06307,...,7.0,พิชัย,2.0,บ้านดารา,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
2,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,05328,...,18.0,ฆ้องชัย,3.0,โคกสะอาด,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN
3,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,06302,...,5.0,ฟากท่า,4.0,สองห้อง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,อต,UTT
4,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,05059,...,10.0,นาดูน,6.0,หัวดง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,มค,MKM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37929,68768,B7F36631-D2C4-4EB5-852D-790BFAFDFD71,2022-03-24,"iPhone11,8",11088,10-30-22,ปกติ (เหลืองใส),2,89170,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37930,68768,899A7591-50C9-40BC-9746-A831A08DE980,2022-03-24,"iPhone11,8",11088,10-29-37,ปกติ (เหลืองใส),0,90470,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37931,68768,BF39F27C-1B43-4C97-A034-D7A579BED2B6,2022-03-24,"iPhone11,8",11088,10-24-40,ปกติ (เหลืองใส),1,91123,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37932,68768,D8A3A9EA-929E-4CEB-BFDF-C9BE093EA663,2022-03-24,"iPhone11,8",11088,10-25-32,ปกติ (เหลืองใส),1,99444,11088,...,14.0,ห้วยผึ้ง,3.0,นิคมห้วยผึ้ง,7.0,โรงพยาบาลชุมชน,21.00000,2.1 ทุติยภูมิระดับต้น,กส,KSN
37933,99771,E04D3D60-B916-40A1-AE77-91CCD89DD084,2022-03-31,"iPhone10,5",05396,11-03-40,ปกติ (เหลืองใส),0,99771,05396,...,10.0,คำม่วง,9.0,เนินยาง,18.0,โรงพยาบาลส่งเสริมสุขภาพตำบล,10.00000,1 ปฐมภูมิ,กส,KSN

In [1161]:
alldb_hosdp.shape

(37872, 25)

In [1162]:
removes = alldb_hos.shape[0] - alldb_hosdp.shape[0]
print(f'size before drop = {alldb_hos.shape[0]}')
print(f'size after drop = {alldb_hosdp.shape[0]}')
print(f'% from drop = {(removes/alldb_hos.shape[0])*100}')

size before drop = 37946
size after drop = 37872
% from drop = 0.1950139672165709

In [1163]:
alldb_hosdp.to_csv('dashb.csv', encoding='utf-8')

งงมากแม่  ในนี้แม่งมีแต่ 5 หลัก พอไปดูในเอ็กเซลคือก็มีอันที่ตรงเงื่อนไขอยู่ดี อะไร๊

# จำนวนการตรวจในแต่ละพื้นที่

In [1164]:
pv = alldb_hos.groupby('province').count()
pv

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey,hcode,...,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
province,,,,,,,,,,,,,,,,,,,,,
กาญจนบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
กาฬสินธุ์,7895,7895,7895,7895,7895,7895,7895,7895,7895,7895,...,7895,7895,7895,7895,7895,7895,7895,7895,7895,7895
ขอนแก่น,4322,4322,4322,4322,4322,4322,4322,4322,4322,4322,...,4322,4322,4322,4322,4322,4322,4322,4322,4322,4322
จันทบุรี,27,27,27,27,27,27,27,27,27,27,...,27,27,27,27,27,27,27,27,27,27
ฉะเชิงเทรา,11,11,11,11,11,11,11,11,11,11,...,11,11,11,11,11,11,11,11,11,11
ชลบุรี,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
ชัยนาท,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ชัยภูมิ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ตรัง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ตราด,7,7,7,7,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
นครนายก,25,25,25,25,25,25,25,25,25,25,...,25,25,25,25,25,25,25,25,25,25
นครพนม,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
นครราชสีมา,8,8,8,8,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
นนทบุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
น่าน,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
บุรีรัมย์,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ปทุมธานี,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
ประจวบคีรีขันธ์,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
ปราจีนบุรี,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
พระนครศรีอยุธยา,4,4,4,4,4,4,4,4,4,4,...,4,4,4,4,4,4,4,4,4,4
พิจิตร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
มหาสารคาม,8934,8934,8934,8934,8934,8934,8934,8934,8934,8934,...,8934,8934,8934,8934,8934,8934,8934,8934,8934,8934
มุกดาหาร,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
ระยอง,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
ราชบุรี,23,23,23,23,23,23,23,23,23,23,...,23,23,23,23,23,23,23,23,23,23
ร้อยเอ็ด,13714,13714,13714,13714,13714,13714,13714,13714,13714,13714,...,13714,13714,13714,13714,13714,13714,13714,13714,13714,13714
ลพบุรี,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
ลำปาง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
ศรีสะเกษ,3,3,3,3,3,3,3,3,3,3,...,3,3,3,3,3,3,3,3,3,3
สกลนคร,6,6,6,6,6,6,6,6,6,6,...,6,6,6,6,6,6,6,6,6,6
สงขลา,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สตูล,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรปราการ,2,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
สมุทรสงคราม,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สมุทรสาคร,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สระแก้ว,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
สิงห์บุรี,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
สุรินทร์,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
อุดรธานี,15,15,15,15,15,15,15,15,15,15,...,15,15,15,15,15,15,15,15,15,15
อุตรดิตถ์,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792,...,2792,2792,2792,2792,2792,2792,2792,2792,2792,2792
อุบลราชธานี,5,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,5
อ่างทอง,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
เชียงใหม่,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [1165]:
pv_c =pv.iloc[:,:1]
pv_c

                  user
province
กาญจนบุรี            1
กาฬสินธุ์         7895
ขอนแก่น           4322
จันทบุรี            27
ฉะเชิงเทรา          11
ชลบุรี               4
ชัยนาท               1
ชัยภูมิ              2
ตรัง                 1
ตราด                 7
นครนายก             25
นครพนม              23
นครราชสีมา           8
นนทบุรี              1
น่าน                 1
บุรีรัมย์            2
ปทุมธานี             3
ประจวบคีรีขันธ์      6
ปราจีนบุรี           5
พระนครศรีอยุธยา      4
พิจิตร               2
มหาสารคาม         8934
มุกดาหาร             2
ระยอง                5
ราชบุรี             23
ร้อยเอ็ด         13714
ลพบุรี               6
ลำปาง                1
ศรีสะเกษ             3
สกลนคร               6
สงขลา                1
สตูล                 1
สมุทรปราการ          2
สมุทรสงคราม          1
สมุทรสาคร            1
สระแก้ว              5
สิงห์บุรี            1
สุรินทร์             1
อุดรธานี            15
อุตรดิตถ์         2792
อุบลราชธานี          5
อ่างทอง              1
เชียงใหม่            1

In [1166]:
pv_noindex = pv_c.reset_index()
pv_noindex

           province   user
0         กาญจนบุรี      1
1         กาฬสินธุ์   7895
2           ขอนแก่น   4322
3          จันทบุรี     27
4        ฉะเชิงเทรา     11
5            ชลบุรี      4
6            ชัยนาท      1
7           ชัยภูมิ      2
8              ตรัง      1
9              ตราด      7
10          นครนายก     25
11           นครพนม     23
12       นครราชสีมา      8
13          นนทบุรี      1
14             น่าน      1
15        บุรีรัมย์      2
16         ปทุมธานี      3
17  ประจวบคีรีขันธ์      6
18       ปราจีนบุรี      5
19  พระนครศรีอยุธยา      4
20           พิจิตร      2
21        มหาสารคาม   8934
22         มุกดาหาร      2
23            ระยอง      5
24          ราชบุรี     23
25         ร้อยเอ็ด  13714
26           ลพบุรี      6
27            ลำปาง      1
28         ศรีสะเกษ      3
29           สกลนคร      6
30            สงขลา      1
31             สตูล      1
32      สมุทรปราการ      2
33      สมุทรสงคราม      1
34        สมุทรสาคร      1
35          สระแก้ว      5
36        สิงห์บุรี      1
37         สุรินทร์      1
38         อุดรธานี     15
39        อุตรดิตถ์   2792
40      อุบลราชธานี      5
41          อ่างทอง      1
42        เชียงใหม่      1

## จำนวนที่พบโรค

### ระดับ 0

In [1167]:
ov0 = alldb_hos[alldb_hos['ov']== 0]
ov0.head()

Empty DataFrame
Columns: [user, RowKey, date, phone, site, time, urine, ov, PartitionKey, hcode, name, zone_code, zone_name, provincecode, province, amphurcode, amphur, tamboncode, tambon, code4, name5, code9, name10, short_thai, short_english]
Index: []

[0 rows x 25 columns]

In [1168]:
ov0 = ov0.groupby('province').count()
ov0.iloc[:,:1]

Empty DataFrame
Columns: [user]
Index: []

In [1169]:
ov0_noindex = ov0.reset_index()
ov0_noindex.iloc[:,:2]

Empty DataFrame
Columns: [province, user]
Index: []

In [1170]:
ov_0 = ov0_noindex.iloc[:,:2]
ov_0

Empty DataFrame
Columns: [province, user]
Index: []

### ระดับ 1

In [1171]:
ov1 = alldb_hos[alldb_hos['ov']== 1]
ov1.head()

Empty DataFrame
Columns: [user, RowKey, date, phone, site, time, urine, ov, PartitionKey, hcode, name, zone_code, zone_name, provincecode, province, amphurcode, amphur, tamboncode, tambon, code4, name5, code9, name10, short_thai, short_english]
Index: []

[0 rows x 25 columns]

In [1172]:
ov1 = ov1.groupby('province').count()
ov1.iloc[:,:1]

Empty DataFrame
Columns: [user]
Index: []

In [1173]:
ov1_noindex = ov1.reset_index()
ov1_noindex.iloc[:,:2]

Empty DataFrame
Columns: [province, user]
Index: []

In [1174]:
ov_1 = ov1_noindex.iloc[:,:2]
ov_1

Empty DataFrame
Columns: [province, user]
Index: []

### ระดับ 2

In [1175]:
ov2 = alldb_hos[alldb_hos['ov']== 2]
ov2.head()

Empty DataFrame
Columns: [user, RowKey, date, phone, site, time, urine, ov, PartitionKey, hcode, name, zone_code, zone_name, provincecode, province, amphurcode, amphur, tamboncode, tambon, code4, name5, code9, name10, short_thai, short_english]
Index: []

[0 rows x 25 columns]

In [1176]:
ov2 = ov2.groupby('province').count()
ov2.iloc[:,:1]

Empty DataFrame
Columns: [user]
Index: []

In [1177]:
ov2_noindex = ov2.reset_index()
ov2_noindex.iloc[:,:2]

Empty DataFrame
Columns: [province, user]
Index: []

In [1178]:
ov_2 = ov2_noindex.iloc[:,:2]
ov_2

Empty DataFrame
Columns: [province, user]
Index: []

### ระดับ 3

In [1179]:
ov3 = alldb_hos[alldb_hos['ov']== 3]
ov3.head()

Empty DataFrame
Columns: [user, RowKey, date, phone, site, time, urine, ov, PartitionKey, hcode, name, zone_code, zone_name, provincecode, province, amphurcode, amphur, tamboncode, tambon, code4, name5, code9, name10, short_thai, short_english]
Index: []

[0 rows x 25 columns]

In [1180]:
ov3 = ov3.groupby('province').count()
ov3.iloc[:,:1]

Empty DataFrame
Columns: [user]
Index: []

In [1181]:
ov3_noindex = ov3.reset_index()
ov3_noindex.iloc[:,:2]

Empty DataFrame
Columns: [province, user]
Index: []

In [1182]:
ov_3 = ov3_noindex.iloc[:,:2]
ov_3

Empty DataFrame
Columns: [province, user]
Index: []

### ระดับ 4

In [1183]:
ov4 = alldb_hos[alldb_hos['ov']== 4]
ov4.head()

Empty DataFrame
Columns: [user, RowKey, date, phone, site, time, urine, ov, PartitionKey, hcode, name, zone_code, zone_name, provincecode, province, amphurcode, amphur, tamboncode, tambon, code4, name5, code9, name10, short_thai, short_english]
Index: []

[0 rows x 25 columns]

In [1184]:
ov4 = ov4.groupby('province').count()
ov4.iloc[:,:1]

Empty DataFrame
Columns: [user]
Index: []

In [1185]:
ov4_noindex = ov4.reset_index()
ov4_noindex.iloc[:,:2]

Empty DataFrame
Columns: [province, user]
Index: []

In [1186]:
ov_4 = ov4_noindex.iloc[:,:2]
ov_4

Empty DataFrame
Columns: [province, user]
Index: []

#Dashboard อันที่ 1

*  จำนวนการตรวจในแต่ละพื้นที่ (จังหวัด-อำเภอ ในไฟล์ hospital_list.xlsx) เทียบกับ จำนวนที่พบโรค (column ov ในไฟล์ alldb.csv)

#Dashboard อันที่ 2 และ Dashboard อันที่ 3 ใช้ข้อมูลตารางเดียวกัน

*  ช่วงเวลาที่ตรวจ (date ในไฟล์ alldb.csv)

*  อื่นๆที่นักศึกษาเห็นว่าเป็นประโยชน์ (phone (ชนิดโทรศัพท์ที่ใช้บันทึก), title (คำนำหน้าชื่อ), age (อายุ)

In [1187]:
dash2 = alldb_hos[['user','date','phone','site','time','urine','ov','PartitionKey','hcode','name','province']] 
dash2

,user,date,phone,site,time,urine,ov,PartitionKey,hcode,name,province
0,06223,2022-03-23,Xiaomi 21081111RG,13777,16-31-45,ปกติ (เหลืองใส),0,00000,13777,โรงพยาบาลศรีนครินทร์ มหาวิทยาลัยขอนแก่น,ขอนแก่น
1,12015,2022-03-30,"iPhone12,3",06307,14-46-08,ปกติ (เหลืองใส),4,00001,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์
2,91811,2022-03-30,"iPhone14,3",05328,15-27-45,ปกติ (เหลืองใส),4,00001,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์
3,95821,2022-03-30,"iPhone13,4",06302,10-16-46,ปกติ (เหลืองใส),3,00001,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์
4,13361,2022-03-29,"iPhone9,4",05059,12-26-38,ปกติ (เหลืองใส),3,00001,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,มหาสารคาม
...,...,...,...,...,...,...,...,...,...,...,...
37941,99999,2022-03-11,"iPhone14,2",99999,11-36-34,ขุ่น,1,99999,NaN,NaN,NaN
37942,99999,2022-03-10,Samsung SM-G998B,99999,18-10-29,มีตะกอน,0,99999,NaN,NaN,NaN
37943,99999,2022-03-10,Samsung SM-G998B,99999,12-14-41,"ขุ่น, มีเม็ดเลือดแดง",1,99999,NaN,NaN,NaN
37944,99999,2022-03-10,Samsung SM-G998B,99999,13-58-01,ปกติ (เหลืองใส),1,99999,NaN,NaN,NaN
37945,99999,2022-03-10,Samsung SM-G998B,99999,13-57-58,ปกติ (เหลืองใส),1,99999,NaN,NaN,NaN

In [1188]:
dash2.to_csv('dash2.csv', encoding='utf-8')

# Dashboard

https://datastudio.google.com/reporting/99a58b08-116e-4f1e-997d-cefd5dccfe8c