<a href="https://colab.research.google.com/github/Octa-p/data_viz_2022/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import os

In [4]:
path = '/content/drive/My Drive/DataViz22_data'
data_cases = pd.read_csv(os.path.join(path, 'confirmed-cases.csv'))
data_cases1 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-120864.csv'))
data_cases2 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-271064.csv'))
data_cases3 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-280265.csv'))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

# ข้อมูลจำนวนผู้เชื้อช่วงที่ 1

In [5]:
data_cases

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,NaN,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,NaN

# ข้อมูลจำนวนผู้เชื้อช่วงที่ 2

In [6]:
data_cases1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

# ข้อมูลจำนวนผู้เชื้อช่วงที่ 3

In [7]:
data_cases2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

# ข้อมูลจำนวนผู้เชื้อช่วงที่ 4

In [8]:
data_cases3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,NaN,NaN
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,NaN,NaN,นครราชสีมา,ทัณฑสถาน/เรือนจำ,NaN,NaN
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,NaN,NaN,ขอนแก่น,ทัณฑสถาน/เรือนจำ,NaN,NaN

# เตรียมข้อมูล

## ข้อมูลจำนวนผู้เชื้อช่วงที่ 1

In [9]:
data_cases.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

จากการตรวจสอบพบว่า มี column ที่มีค่า missing คือ

*   Notified date 
*   sex
*   age
*   Unit
*   nationality
*   province_of_isolation
*   risk
*   province_of_onset
*   district_of_onset

### แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [10]:
case = data_cases.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'}) #แทนด้วยคำว่า ไม่มีข้อมูล ได้เนื่องจากในตารางมีค่าว่าง และในคอลัมป์ไม่มีค่าเป็นตัวเลขจึงใช้ค่า string ในการแทนที่ได้

In [11]:
case

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
839766,839767,12/8/2021,11/8/2021,ชาย,52.0,ปี,ไม่มีข้อมูล,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล
839767,839768,12/8/2021,11/8/2021,ชาย,34.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล
839768,839769,12/8/2021,11/8/2021,ชาย,31.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล
839769,839770,12/8/2021,11/8/2021,ชาย,83.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล
839770,839771,12/8/2021,11/8/2021,ชาย,47.0,ปี,Thailand,กาญจนบุรี,ทัณฑสถาน/เรือนจำ,กาญจนบุรี,ไม่มีข้อมูล

### แทนค่า missing ของ age ด้วย mean()

In [12]:
mean_age = case[['age']].mean() # เนื่องจากค่า age เป็นตัวเลขจึงจะต้องแทนค่าด้วยค่าเฉลี่ยของตัวเลขนั้นๆในช่องว่าง
mean_age

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [13]:
case[['age']] = case[['age']].fillna(mean_age)

In [14]:
case.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

จากการเตรียมข้อมูลจะเห็นได้ว่า ข้อมูลของจำนวนติดเชื้อช่วงที่ 1 ไม่มีค่า missing แล้ว

## ข้อมูลจำนวนผู้เชื้อช่วงที่ 2

In [15]:
data_cases1.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

จากการตรวจสอบพบว่า มี column ที่มีค่า missing คือ

*   sex
*   age
*   Unit
*   nationality
*   province_of_onset
*   district_of_onset

### แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [16]:
case1 = data_cases1.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})

In [17]:
case1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ไม่มีข้อมูล,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

### แทนค่า missing ของ age ด้วย mean()

In [18]:
mean_age1 = case1[['age']].mean()

In [19]:
case1[['age']] = case1[['age']].fillna(mean_age1)

In [20]:
case1.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

จากการเตรียมข้อมูลจะเห็นได้ว่า ข้อมูลของจำนวนติดเชื้อช่วงที่ 2 ไม่มีค่า missing แล้ว

## ข้อมูลจำนวนผู้เชื้อช่วงที่ 3

In [21]:
data_cases2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

จากการตรวจสอบพบว่า มี column ที่มีค่า missing คือ

*   sex
*   age
*   Unit
*   nationality
*   province_of_isolation
*   risk
*   province_of_onset
*   district_of_onset
*   Unnamed:11

### แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [22]:
case2 = data_cases2.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})
case2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

### แทนค่า missing ของ age ด้วย mean()

In [23]:
mean_age2 = case2[['age']].mean() 
mean_age2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

Series([], dtype: float64)

In [24]:
case2[['age']] = case2[['age']].fillna(mean_age2)

In [25]:
case2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
Unnamed: 11               True
dtype: bool

ตัด column Unnamed: 11 ออกเนื่องจากไม่ทราบว่าเป็นข้อมูลเกี่ยวกับอะไรและเป็น column ที่ไม่มีความเกี่ยวข้องกัน

In [26]:
case2.drop(['Unnamed: 11'], axis=1, inplace=True)
case2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง
...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

In [27]:
case2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

จากการเตรียมข้อมูลจะเห็นได้ว่า ข้อมูลของจำนวนติดเชื้อช่วงที่ 3 ไม่มีค่า missing แล้ว

## ข้อมูลจำนวนผู้เชื้อช่วงที่ 4

In [28]:
data_cases3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

จากการตรวจสอบพบว่า มี column ที่มีค่า missing คือ

*   sex
*   age
*   Unit
*   nationality
*   risk
*   province_of_onset
*   district_of_onset

### แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [29]:
case3 = data_cases3.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})
case3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
357076,3226693,15/3/2022,14/3/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357077,3226694,15/3/2022,14/3/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ปราจีนบุรี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357078,3226695,15/3/2022,14/3/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357079,3226696,15/3/2022,14/3/2022,ชาย,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,นครราชสีมา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
357080,3226697,15/3/2022,14/3/2022,หญิง,NaN,ไม่มีข้อมูล,ไม่มีข้อมูล,ขอนแก่น,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

### แทนค่า missing ของ age ด้วย mean()

In [30]:
mean_age3 = case3[['age']].mean() 
mean_age3

age    36.943725
dtype: float64

In [31]:
case3[['age']] = case3[['age']].fillna(mean_age3)

In [32]:
case3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

จากการเตรียมข้อมูลจะเห็นได้ว่า ข้อมูลของจำนวนติดเชื้อช่วงที่ 3 ไม่มีค่า missing แล้ว

# รวมตารางข้อมูลจำนวนผู้ติดเชื้อช่วงที่ 1 และ ข้อมูลจำนวนผู้ติดเชื้อช่วงที่ 2

In [ ]:
case12= case.merge(case1,how='left',left_on='risk',right_on='risk')
case12

# ข้อมูลจังหวัดแต่ละภูมิภาค