<a href="https://colab.research.google.com/github/Octa-p/data_viz_2022/blob/main/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
path = '/content/drive/My Drive/DataViz22_data'

In [4]:
alldb = pd.read_csv(os.path.join(path, 'alldb.csv'))

In [5]:
data_file_path = os.path.join(path,'hospital_list.xlsx')  
hospital = pd.read_excel(data_file_path)

In [6]:
alldb

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

# เลือกข้อมูล

In [50]:
alldb_01 = alldb[['user','RowKey','date','phone','site','time','urine','ov','PartitionKey']]
alldb_01

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),0,NaN
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN
...,...,...,...,...,...,...,...,...,...
40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,"iPhone13,4",01234,NaN,NaN,NaN,เกษศิรินทร์ ไชยลาภ
40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),2,เถลิงเกียรติ เสริฐเลิศ
40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี
40033,NaN,bbuogxulur.png,NaN,Samsung SM-A115F,01234,NaN,NaN,NaN,เสรี
40034,NaN,zttpqogiso.png,NaN,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี

# Dropna ข้อมูล

In [103]:
alldb_dp =alldb_01.dropna()
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,05194,13:08:39,มีตะกอน,0,0000
186,45-161,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",04312,09:45:28,ปกติ (เหลืองใส),0,0-1528
187,45-161,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",04312,10:06:45,ปกติ (เหลืองใส),0,0-1544
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",04999,14:22:22,ปกติ (เหลืองใส),0,0000
190,06223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,00000
...,...,...,...,...,...,...,...,...,...
40013,ttest,crqcufokmn.png,2022-02-21,Samsung SM-G998B,test,14:23:45,ขุ่น,2,x001
40014,ttest,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,test,14:23:43,ขุ่น,2,x001
40016,xxx,jytlopevha.png,2022-02-17,Samsung SM-N950F,xxx,00:01:06,ปกติ (เหลืองใส),3,xxx
40022,yyy,ivccsksowb.png,2022-02-17,Samsung SM-N950F,yyy,08:41:05,มีเม็ดเลือดแดง,2,yyy
40023,zzz,psudrnccsh.png,2022-02-17,Samsung SM-N950F,zzz,08:41:04,มีตะกอน,2,zzz

In [104]:
print (alldb_dp.dtypes)

user            object
RowKey          object
date            object
phone           object
site            object
time            object
urine           object
ov              object
PartitionKey    object
dtype: object

## ต้องการให้ user, site, ov และ PartitionKey เป็นตัวเลขเท่านั้น

In [105]:
import numpy as np

In [106]:
alldb_dp['user'] = pd.to_numeric(alldb_dp['user'], errors='coerce') #errors=’coerce’, you’ll transform the non-numeric values into NaN.
alldb_dp['site'] = pd.to_numeric(alldb_dp['site'], errors='coerce')
alldb_dp['ov'] = pd.to_numeric(alldb_dp['ov'], errors='coerce')
alldb_dp['PartitionKey'] = pd.to_numeric(alldb_dp['PartitionKey'], errors='coerce')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [107]:
alldb_dp = alldb_dp.replace(np.nan, 5, regex=True)
alldb_dp['user'] = alldb_dp['user'].astype(int)
alldb_dp['site'] = alldb_dp['site'].astype(int)
alldb_dp['ov'] = alldb_dp['ov'].astype(int)
alldb_dp['PartitionKey'] = alldb_dp['PartitionKey'].astype(int)

In [108]:
print (alldb_dp.dtypes)

user             int64
RowKey          object
date            object
phone           object
site             int64
time            object
urine           object
ov               int64
PartitionKey     int64
dtype: object

In [109]:
alldb_dp

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0
186,5,D2CABB8C-533B-450A-AFA6-B693749CC1C6,2022-02-23,"iPhone11,8",4312,09:45:28,ปกติ (เหลืองใส),0,5
187,5,57A5F06C-C840-49EA-9514-A30D3C897CC8,2022-02-23,"iPhone11,8",4312,10:06:45,ปกติ (เหลืองใส),0,5
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0
190,6223,kfpwuaqldj.png,2022-03-23,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),0,0
...,...,...,...,...,...,...,...,...,...
40013,5,crqcufokmn.png,2022-02-21,Samsung SM-G998B,5,14:23:45,ขุ่น,2,5
40014,5,gzxgflnowr.png,2022-02-21,Samsung SM-G998B,5,14:23:43,ขุ่น,2,5
40016,5,jytlopevha.png,2022-02-17,Samsung SM-N950F,5,00:01:06,ปกติ (เหลืองใส),3,5
40022,5,ivccsksowb.png,2022-02-17,Samsung SM-N950F,5,08:41:05,มีเม็ดเลือดแดง,2,5
40023,5,psudrnccsh.png,2022-02-17,Samsung SM-N950F,5,08:41:04,มีตะกอน,2,5

## ต้องการให้ RowKey, phone และ urine เป็น String

In [113]:
alldb_dp.astype({'RowKey':'string', 'phone':'string','urine':'string'}).dtypes

user             int64
RowKey          string
date            object
phone           string
site             int64
time            object
urine           string
ov               int64
PartitionKey     int64
dtype: object

In [114]:
set(alldb_dp['date'])

{'2022-02-15',
 '2022-02-16',
 '2022-02-17',
 '2022-02-18',
 '2022-02-19',
 '2022-02-20',
 '2022-02-21',
 '2022-02-22',
 '2022-02-23',
 '2022-02-24',
 '2022-02-25',
 '2022-02-26',
 '2022-02-27',
 '2022-02-28',
 '2022-03-01',
 '2022-03-02',
 '2022-03-03',
 '2022-03-04',
 '2022-03-05',
 '2022-03-06',
 '2022-03-07',
 '2022-03-08',
 '2022-03-09',
 '2022-03-10',
 '2022-03-11',
 '2022-03-12',
 '2022-03-13',
 '2022-03-14',
 '2022-03-15',
 '2022-03-16',
 '2022-03-17',
 '2022-03-18',
 '2022-03-19',
 '2022-03-20',
 '2022-03-21',
 '2022-03-22',
 '2022-03-23',
 '2022-03-24',
 '2022-03-25',
 '2022-03-26',
 '2022-03-27',
 '2022-03-28',
 '2022-03-29',
 '2022-03-30',
 '2022-03-31',
 '2022-04-01',
 '2022-04-02',
 '2022-04-03',
 '2022-04-04',
 '2022-04-05'}

### date เป็น YYYY-MM-DD แล้ว

In [115]:
set(alldb_dp['time'])

{'16:40:03',
 '11:11:10',
 '09:43:48',
 '10:40:09',
 '12:16:15',
 '15:35:52',
 '09:47:50',
 '16:01:13',
 '15:35:54',
 '15:30:34',
 '18:11:45',
 '18:33:49',
 '09:07:31',
 '11:48:55',
 '12:08:33',
 '10:42:00',
 '16:47:55',
 '10:29:33',
 '17:30:43',
 '10:22:30',
 '19:33:12',
 '09:20:22',
 '10:12:15',
 '13:48:48',
 '18:27:11',
 '17:44:21',
 '16:43:56',
 '10:42:58',
 '09:36:40',
 '11:18:07',
 '11:50:18',
 '13:36:35',
 '15:45:32',
 '11:02:26',
 '14:23:59',
 '12:18:25',
 '18:34:16',
 '10:24:44',
 '14:59:30',
 '15:24:14',
 '13:33:01',
 '11:17:22',
 '09:51:11',
 '10:36:04',
 '14:28:44',
 '11:01:59',
 '16:21:48',
 '10:50:54',
 '18:32:46',
 '09:54:33',
 '09:19:35',
 '14:34:01',
 '14:29:22',
 '09:49:33',
 '11:23:07',
 '10:30:10',
 '14:55:33',
 '21:25:45',
 '11:31:42',
 '13:05:56',
 '13:39:42',
 '15:09:27',
 '12:37:35',
 '14:45:29',
 '10:41:26',
 '10:28:28',
 '14:41:59',
 '17:52:54',
 '16:36:28',
 '18:29:55',
 '18:26:12',
 '13:15:00',
 '00:42:58',
 '11:08:19',
 '18:15:48',
 '09:49:20',
 '16:00:47',
 '12:52:54',
 '09:46:41',
 '10:29:48',
 '16:50:33',
 '09:45:56',
 '11:22:40',
 '11:31:27',
 '16:05:55',
 '11:03:37',
 '09:39:31',
 '12:00:58',
 '11:46:49',
 '14:18:02',
 '11:28:55',
 '11:11:39',
 '09:07:12',
 '10:08:30',
 '12:16:06',
 '12:40:34',
 '14:39:04',
 '11:36:57',
 '14:09:22',
 '11:25:15',
 '11:08:42',
 '13:18:42',
 '14:21:49',
 '10:17:48',
 '12:33:59',
 '09:21:29',
 '09:20:07',
 '16:06:37',
 '12:54:55',
 '09:23:40',
 '15:32:53',
 '17:06:24',
 '16:22:15',
 '12:30:11',
 '12:32:29',
 '16:08:13',
 '15:04:54',
 '15:33:29',
 '09:01:08',
 '22:35:29',
 '13:49:04',
 '09:38:20',
 '14:28:08',
 '14:07:40',
 '11:06:00',
 '16:30:50',
 '12:39:05',
 '09:19:40',
 '09:58:46',
 '10:24:54',
 '17:33:11',
 '11:19:59',
 '10:52:07',
 '10:43:15',
 '11:32:01',
 '12:08:27',
 '13:01:01',
 '10:27:57',
 '10:37:34',
 '18:40:49',
 '11:50:12',
 '15:28:19',
 '14:49:32',
 '12:11:31',
 '13:25:36',
 '13:21:54',
 '14:07:48',
 '15:45:43',
 '12:34:52',
 '18:15:09',
 '12:41:34',
 '17:56:14',
 '13:21:48',
 '15:10:16',
 '14:14:41',
 '09:43:37',
 '16:52:50',
 '10:29:00',
 '09:34:04',
 '11:15:33',
 '10:27:14',
 '10:50:10',
 '11:33:17',
 '14:49:22',
 '15:48:43',
 '13:38:21',
 '11:32:46',
 '18:22:37',
 '20:59:32',
 '14:59:42',
 '23:48:56',
 '15:36:45',
 '15:57:10',
 '12:42:48',
 '10:01:37',
 '11:27:59',
 '19:02:16',
 '19:14:19',
 '12:54:12',
 '13:21:18',
 '15:18:29',
 '16:37:18',
 '13:11:01',
 '11:02:05',
 '15:34:21',
 '10:30:30',
 '14:11:06',
 '12:15:03',
 '12:19:20',
 '13:26:58',
 '15:23:51',
 '15:10:30',
 '14:14:42',
 '12:43:56',
 '15:30:55',
 '16:20:46',
 '12:30:25',
 '15:26:09',
 '15:32:36',
 '11:53:05',
 '10:58:10',
 '11:02:35',
 '12:03:18',
 '10:24:31',
 '09:31:07',
 '12:08:31',
 '12:29:07',
 '11:03:24',
 '10:38:12',
 '21:32:05',
 '14:16:52',
 '14:35:00',
 '08:38:58',
 '10:41:27',
 '09:54:38',
 '10:59:28',
 '12:00:03',
 '09:19:38',
 '16:50:07',
 '09:07:23',
 '15:48:12',
 '13:38:33',
 '16:06:24',
 '12:19:17',
 '16:24:01',
 '15:23:52',
 '13:13:16',
 '09:04:33',
 '14:30:14',
 '11:59:30',
 '09:55:31',
 '20:11:44',
 '10:43:25',
 '10:48:27',
 '10:56:43',
 '11:53:08',
 '11:21:42',
 '08:48:12',
 '15:53:04',
 '17:37:38',
 '11:07:47',
 '12:26:05',
 '14:40:26',
 '11:32:43',
 '15:58:52',
 '11:59:00',
 '10:36:30',
 '11:49:57',
 '14:54:50',
 '13:14:02',
 '15:14:37',
 '11:35:27',
 '14:59:37',
 '13:12:21',
 '14:35:52',
 '08:55:21',
 '13:00:39',
 '13:52:46',
 '11:25:45',
 '15:04:37',
 '11:26:44',
 '15:41:13',
 '12:22:34',
 '15:58:56',
 '15:53:14',
 '11:18:08',
 '11:03:00',
 '14:16:30',
 '14:27:11',
 '10:37:48',
 '14:43:15',
 '16:44:01',
 '15:31:17',
 '11:42:52',
 '18:17:25',
 '12:45:17',
 '10:39:58',
 '11:34:13',
 '14:00:36',
 '14:12:35',
 '14:20:20',
 '15:07:31',
 '16:15:51',
 '12:18:55',
 '19:46:40',
 '10:54:27',
 '11:13:19',
 '16:44:50',
 '14:42:58',
 '10:59:05',
 '19:30:43',
 '12:49:15',
 '11:01:01',
 '14:17:57',
 '10:29:55',
 '14:50:56',
 '13:27:30',
 '17:05:14',
 '11:44:25',
 '11:05:00',
 '11:01:35',
 '13:38:55',
 '13:08:24',
 '14:33:27',
 '07:49:03',
 '15:22:01',
 '15:29:26',
 '15:35:24',
 '18:12:37',
 '11:31:20',
 '15:26:21',
 '12:08:00',
 '14:51:42',
 '09:22:20',
 '16:14:47',
 '11:35:22',
 '16:50:05',
 '16:00:20',
 '21:30:35',
 '15:46:39',
 '19:47:38',
 '22:01:59',
 '10:59:44',
 '09:53:15',
 '18:28:24',
 '13:05:22',
 '16:58:13',
 '17:42:14',
 '10:06:35',
 '17:14:26',
 '10:01:10',
 '16:37:51',
 '18:41:07',
 '13:04:43',
 '21:51:40',
 '09:41:10',
 '16:18:14',
 '18:51:16',
 '10:03:50',
 '15:02:13',
 '11:04:01',
 '14:43:31',
 '08:42:02',
 '10:38:26',
 '13:41:52',
 '13:14:13',
 '11:49:46',
 '14:36:35',
 '10:09:08',
 '11:33:19',
 '15:25:19',
 '14:47:25',
 '18:43:29',
 '14:50:46',
 '13:03:58',
 '10:46:08',
 '14:14:00',
 '13:40:32',
 '15:58:01',
 '14:11:21',
 '09:56:51',
 '12:22:13',
 '15:46:59',
 '09:17:31',
 '17:32:04',
 '14:41:47',
 '20:40:54',
 '11:21:35',
 '10:47:52',
 '21:37:00',
 '10:21:27',
 '15:03:21',
 '11:42:04',
 '12:13:44',
 '17:41:15',
 '12:27:22',
 '16:29:22',
 '15:27:12',
 '12:06:44',
 '10:25:08',
 '14:00:47',
 '10:50:58',
 '23:52:55',
 '09:56:10',
 '16:51:06',
 '12:48:39',
 '11:28:41',
 '16:03:49',
 '10:40:22',
 '10:52:05',
 '10:40:40',
 '10:36:53',
 '12:46:16',
 '10:48:01',
 '10:49:31',
 '09:38:10',
 '14:16:29',
 '10:26:02',
 '14:07:34',
 '11:16:07',
 '17:18:16',
 '10:54:40',
 '15:18:54',
 '13:08:44',
 '16:58:26',
 '12:06:13',
 '12:20:22',
 '12:48:22',
 '10:39:15',
 '18:30:58',
 '12:18:02',
 '11:27:47',
 '10:03:49',
 '11:32:27',
 '17:13:01',
 '12:01:15',
 '14:18:40',
 '14:43:44',
 '11:12:19',
 '15:02:21',
 '11:55:26',
 '10:19:16',
 '15:58:10',
 '10:20:03',
 '15:46:02',
 '10:24:00',
 '13:46:32',
 '21:07:06',
 '12:13:23',
 '11:36:09',
 '11:53:27',
 '16:21:17',
 '13:48:01',
 '15:17:37',
 '10:44:15',
 '10:30:23',
 '11:23:25',
 '13:51:35',
 '17:31:25',
 '13:29:43',
 '10:05:09',
 '17:09:54',
 '10:58:21',
 '11:44:06',
 '14:14:35',
 '14:57:20',
 '14:01:37',
 '12:03:16',
 '15:44:37',
 '22:43:33',
 '16:37:33',
 '11:54:43',
 '12:17:10',
 '10:32:36',
 '12:40:11',
 '16:31:09',
 '16:08:50',
 '13:33:59',
 '12:40:53',
 '10:35:19',
 '08:35:43',
 '10:19:18',
 '12:11:50',
 '12:01:31',
 '16:19:40',
 '09:28:34',
 '15:36:33',
 '11:12:37',
 '14:19:12',
 '13:15:35',
 '09:20:53',
 '19:57:14',
 '14:08:37',
 '12:47:49',
 '10:45:12',
 '11:57:51',
 '11:50:24',
 '10:11:29',
 '12:59:02',
 '11:34:08',
 '11:41:45',
 '14:39:27',
 '15:33:03',
 '15:40:15',
 '09:54:51',
 '09:31:25',
 '13:35:11',
 '09:25:09',
 '12:46:06',
 '12:14:50',
 '16:28:18',
 '13:13:58',
 '12:28:18',
 '15:03:34',
 '11:42:39',
 '00:05:35',
 '15:09:08',
 '10:00:56',
 '11:03:25',
 '10:25:53',
 '10:46:09',
 '09:55:17',
 '14:13:08',
 '20:09:16',
 '12:21:36',
 '19:34:06',
 '10:22:39',
 '16:22:25',
 '11:42:55',
 '16:49:17',
 '12:20:06',
 '09:58:15',
 '16:15:13',
 '10:36:11',
 '10:15:58',
 '11:48:39',
 '12:34:31',
 '14:18:26',
 '16:44:26',
 '13:35:26',
 '11:39:41',
 '10:48:54',
 '13:00:43',
 '16:48:02',
 '12:07:06',
 '17:52:22',
 '13:14:19',
 '14:19:18',
 '11:01:06',
 '10:30:50',
 '12:39:37',
 '16:02:35',
 '08:48:20',
 '12:36:45',
 '12:16:04',
 '12:19:23',
 '13:41:56',
 '14:27:41',
 '15:02:19',
 '13:34:39',
 '14:00:57',
 '10:59:56',
 '13:55:28',
 '11:15:25',
 '10:34:05',
 '16:36:44',
 '12:15:27',
 '13:45:27',
 '12:39:23',
 '10:52:59',
 '15:42:44',
 '20:28:23',
 '11:47:28',
 '12:10:10',
 '20:45:38',
 '14:46:05',
 '13:33:20',
 '11:22:50',
 '10:09:27',
 '15:30:30',
 '11:28:38',
 '12:04:33',
 '13:13:12',
 '16:47:00',
 '18:41:25',
 '14:05:25',
 '14:08:32',
 '16:02:42',
 '14:16:27',
 '15:45:52',
 '15:06:34',
 '20:22:38',
 '11:57:28',
 '15:58:44',
 '10:42:01',
 '13:14:15',
 '16:47:13',
 '11:39:44',
 '10:22:12',
 '12:14:15',
 '15:53:01',
 '14:26:53',
 '11:27:49',
 '14:22:33',
 '16:02:06',
 '10:23:05',
 '13:38:10',
 '14:49:57',
 '13:56:01',
 '12:38:44',
 '10:43:01',
 '18:03:52',
 '11:36:52',
 '21:35:28',
 '11:16:34',
 '11:28:45',
 '11:15:27',
 '09:29:08',
 '14:43:56',
 '11:11:34',
 '13:41:03',
 '12:00:33',
 '16:24:16',
 '18:44:02',
 '16:55:54',
 '16:49:59',
 '11:58:38',
 '14:39:14',
 '10:30:13',
 '08:52:47',
 '14:48:18',
 '17:58:36',
 '11:08:22',
 '15:26:58',
 '16:59:52',
 '09:42:40',
 '15:13:23',
 '12:54:08',
 '13:00:05',
 '10:54:44',
 '21:49:42',
 '11:37:41',
 '09:16:30',
 '08:57:23',
 '13:10:02',
 '17:47:15',
 '09:33:25',
 '12:24:34',
 '16:02:23',
 '12:05:46',
 '09:37:06',
 '14:25:56',
 '10:13:09',
 '15:46:07',
 '16:06:51',
 '10:29:44',
 '09:23:15',
 '11:13:49',
 '16:45:03',
 '10:54:02',
 '18:55:01',
 '10:43:59',
 '09:36:22',
 '15:42:01',
 '14:03:03',
 '13:20:05',
 '09:42:10',
 '12:14:38',
 '15:10:27',
 '12:42:58',
 '12:53:34',
 '17:07:18',
 '14:24:05',
 '14:25:30',
 '17:52:59',
 '16:03:38',
 '17:08:10',
 '14:17:56',
 '09:33:53',
 '12:03:35',
 '12:17:56',
 '12:20:41',
 '16:08:33',
 '12:58:29',
 '10:18:14',
 '09:40:30',
 '14:36:07',
 '11:12:46',
 '10:36:50',
 '06:45:51',
 '10:09:43',
 '10:35:08',
 '17:37:23',
 '09:59:45',
 '15:38:15',
 '14:50:51',
 '10:19:34',
 '17:27:46',
 '13:27:41',
 '15:41:38',
 '16:05:11',
 '11:19:42',
 '10:30:38',
 '09:51:56',
 '09:48:07',
 '08:56:15',
 '12:10:25',
 '09:33:36',
 '17:08:21',
 '12:18:05',
 '12:42:34',
 '10:38:58',
 '16:38:31',
 '10:49:11',
 '10:29:34',
 '15:17:46',
 '10:08:25',
 '15:29:44',
 '14:28:27',
 '09:29:30',
 '11:51:43',
 '21:53:29',
 '15:28:23',
 '10:45:40',
 '08:31:54',
 '16:53:28',
 '14:50:22',
 '21:54:26',
 '08:47:30',
 '21:06:26',
 '10:29:11',
 '12:11:57',
 '12:38:17',
 '11:18:47',
 '16:30:54',
 '14:07:13',
 '13:56:49',
 '16:36:10',
 '09:33:56',
 '09:05:34',
 '10:54:26',
 '14:11:00',
 '11:15:26',
 '11:50:43',
 '13:23:34',
 '12:20:38',
 '17:50:22',
 '12:45:33',
 '16:52:35',
 '14:36:00',
 '12:33:09',
 '11:05:21',
 '12:24:26',
 '10:23:58',
 '09:54:48',
 '15:20:29',
 '12:18:00',
 '16:28:03',
 '16:32:16',
 '10:06:56',
 '09:53:38',
 '16:56:24',
 '11:29:28',
 '11:35:49',
 '10:56:09',
 '16:52:15',
 '13:53:55',
 '09:35:36',
 '11:34:06',
 '15:12:46',
 '17:05:55',
 '14:43:07',
 '13:33:26',
 '12:12:11',
 '12:18:07',
 '09:18:58',
 '13:40:56',
 '11:04:26',
 '10:03:12',
 '16:03:22',
 '15:04:41',
 '13:17:11',
 '11:36:58',
 '11:39:12',
 '18:24:01',
 '15:21:38',
 '11:11:18',
 '12:08:07',
 '15:29:00',
 '12:23:59',
 '11:34:33',
 '16:50:46',
 '12:07:48',
 '14:41:42',
 '11:23:12',
 '12:41:09',
 '16:44:41',
 '11:05:58',
 '12:35:27',
 '16:57:02',
 '17:20:27',
 '12:52:11',
 '11:35:16',
 '12:14:56',
 '14:53:18',
 '11:29:22',
 '17:31:07',
 '11:30:02',
 '16:00:53',
 '15:20:20',
 '10:19:48',
 '09:58:37',
 '10:33:25',
 '15:45:05',
 '11:04:55',
 '11:12:34',
 '12:25:53',
 '13:02:58',
 '14:57:25',
 '12:49:36',
 '09:21:43',
 '18:58:53',
 '15:40:35',
 '15:52:51',
 '12:00:44',
 '15:16:54',
 '11:41:34',
 '13:48:14',
 '23:41:27',
 '14:32:22',
 '12:15:48',
 '11:45:17',
 '14:35:29',
 '15:42:22',
 '10:04:40',
 '11:54:29',
 '15:06:43',
 '15:20:42',
 '16:49:57',
 '10:49:08',
 '19:49:15',
 '12:55:30',
 '09:49:24',
 '16:06:54',
 '13:52:09',
 '17:35:05',
 '14:15:24',
 '11:37:54',
 '12:05:40',
 '14:26:46',
 '14:24:51',
 '10:05:52',
 '12:00:35',
 '14:44:01',
 '14:55:31',
 '12:01:45',
 '12:09:48',
 '17:47:47',
 '11:09:56',
 '12:57:15',
 '09:35:07',
 '10:49:52',
 '10:02:04',
 '17:44:57',
 '11:32:17',
 '14:43:13',
 '10:44:17',
 '15:10:48',
 '09:05:59',
 '15:10:53',
 '15:55:03',
 '09:07:05',
 '14:43:23',
 '14:32:47',
 '13:15:31',
 '11:43:42',
 '12:04:00',
 '11:05:54',
 '10:09:36',
 '13:29:44',
 '13:42:22',
 '13:30:33',
 '20:55:58',
 '18:56:02',
 '13:04:09',
 '13:02:06',
 '16:33:53',
 '11:39:25',
 '15:19:07',
 '09:58:50',
 '11:13:36',
 '15:52:39',
 '16:04:26',
 '21:26:03',
 '15:15:39',
 '16:02:33',
 '11:42:30',
 '16:43:59',
 '12:22:52',
 '23:03:28',
 '10:34:40',
 '11:21:06',
 '15:23:18',
 '16:49:12',
 '16:00:34',
 '15:24:50',
 '15:28:07',
 '09:59:12',
 '10:11:24',
 '14:48:47',
 '14:40:53',
 '11:45:20',
 '13:34:02',
 '11:46:59',
 '10:47:40',
 '12:47:01',
 '19:18:32',
 '12:40:59',
 '16:06:26',
 '08:26:57',
 '16:42:12',
 '13:59:57',
 '15:54:08',
 '10:15:56',
 '15:20:19',
 '14:35:46',
 '11:08:47',
 '17:22:29',
 '11:37:15',
 '10:42:38',
 '09:06:38',
 '10:14:54',
 '13:09:05',
 '16:19:46',
 '13:35:45',
 '15:47:43',
 '15:46:21',
 '14:29:35',
 '16:09:29',
 '09:36:30',
 '15:45:14',
 '12:03:48',
 '10:33:05',
 '10:34:33',
 '10:22:02',
 '14:59:16',
 '10:29:20',
 '16:51:00',
 '09:56:16',
 '11:19:45',
 '10:10:42',
 '15:41:30',
 '13:59:54',
 '12:20:49',
 '10:18:21',
 '12:45:46',
 '12:12:53',
 '17:38:38',
 '11:37:17',
 '10:34:56',
 '11:55:09',
 '16:59:27',
 '13:07:22',
 '14:11:55',
 '15:05:35',
 '10:12:45',
 '14:52:46',
 '12:05:51',
 '15:35:22',
 '11:09:28',
 '15:49:44',
 '13:54:50',
 '09:59:04',
 '16:57:22',
 '11:16:15',
 '10:05:39',
 '15:34:00',
 '11:50:22',
 '09:17:58',
 '11:48:13',
 '12:57:00',
 '12:24:28',
 '10:49:58',
 '19:30:39',
 '11:54:36',
 '15:46:36',
 '15:12:56',
 '13:29:57',
 '15:40:53',
 '12:34:21',
 '15:11:31',
 '10:29:05',
 '19:56:04',
 '15:09:17',
 '10:58:47',
 '11:45:38',
 '14:52:06',
 '11:12:06',
 '17:09:53',
 '15:43:12',
 '10:30:05',
 '16:36:23',
 '12:56:19',
 '14:48:09',
 '16:01:06',
 '11:08:58',
 '18:12:20',
 '10:06:01',
 '09:08:33',
 '10:43:08',
 '10:01:59',
 '14:30:55',
 '15:55:53',
 '15:48:44',
 '11:36:43',
 '13:58:28',
 '11:26:53',
 '15:29:42',
 '17:04:32',
 '11:33:28',
 ...}

### time เป็น hh-mm-ss แล้ว

## ทำให้ user เป็นตัวเลข 5 หลัก

In [153]:
TF=list()
for each_row in alldb_dp.iterrows():
    if (9999 < each_row[1]['user'] < 100000):  #each_row คือ ตัวเลข
        TF.append(True)
    else:
        TF.append(False)

alldb_dp1= alldb_dp[TF]

In [154]:
alldb_dp1.head()

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
185,85879,shmpdrmtgc.png,2022-03-24,OPPO CPH2293,5194,13:08:39,มีตะกอน,0,0
188,27529,ADC54E82-4225-4DE6-89A6-A7E556C15FB1,2022-02-25,"iPhone13,1",4999,14:22:22,ปกติ (เหลืองใส),0,0
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,"iPhone12,3",6307,14:46:08,ปกติ (เหลืองใส),4,1
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,"iPhone14,3",5328,15:27:45,ปกติ (เหลืองใส),4,1
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,"iPhone13,4",6302,10:16:46,ปกติ (เหลืองใส),3,1

In [156]:
TF2=list()
for each_row in alldb_dp1.iterrows():
    if (9999 < each_row[1]['site'] < 100000):  
        TF2.append(True)
    else:
        TF2.append(False)

alldb_dp2= alldb_dp1[TF2]

In [157]:
alldb_dp2

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
203,18041,3FBB8FE8-F3EE-4307-8E01-406D7A1B2488,2022-03-28,"iPhone14,3",11158,10:12:10,ปกติ (เหลืองใส),2,1
208,27096,4D1F5F3E-E557-4F64-BEB7-D4FBCADFA43F,2022-03-30,"iPhone14,5",11160,14:56:46,ปกติ (เหลืองใส),0,1
221,76486,73F5F082-6877-4C1F-971D-0485621C1D94,2022-03-18,"iPhone12,1",13949,15:09:50,ปกติ (เหลืองใส),2,1
224,51235,76E4E69A-2C96-4B9D-BF7E-B97D64D3277D,2022-03-21,"iPhone13,3",13987,11:21:56,ปกติ (เหลืองใส),0,1
228,61813,7EED02D6-47C8-4AEE-9B88-5DFBD7836508,2022-03-03,"iPhone12,3",13777,15:59:20,มีเม็ดเลือดแดง,2,1
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [158]:
TF3=list()
for each_row in alldb_dp2.iterrows():
    if (9999 < each_row[1]['PartitionKey'] < 100000):  
        TF3.append(True)
    else:
        TF3.append(False)

alldb_dp3= alldb_dp2[TF3]

In [159]:
alldb_dp3

,user,RowKey,date,phone,site,time,urine,ov,PartitionKey
39370,26462,6C55B69E-8E4C-46B0-B0D7-4754A529EE3C,2022-03-21,"iPhone13,4",11069,10:08:34,ปกติ (เหลืองใส),4,10961
39371,26462,eehzjpxnjw.png,2022-03-22,OPPO CPH1819,11069,10:06:17,ขุ่น,1,10962
39372,26462,cjukggkdgy.png,2022-03-22,OPPO CPH1819,11069,09:33:02,ใส่เป็นน้ำเปล่า,0,10963
39373,26462,wpnaiylzxi.png,2022-03-22,Vivo V2050,11069,09:31:42,ปกติ (เหลืองใส),0,10964
39374,26462,pnqumypemv.png,2022-03-22,Vivo V2050,11069,09:49:16,ปกติ (เหลืองใส),3,10965
...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,"iPhone14,2",99999,11:36:34,ขุ่น,1,99999
39813,99999,lnlohgqckf.png,2022-03-10,Samsung SM-G998B,99999,18:10:29,มีตะกอน,0,99999
39814,99999,vkdocpmjiv.png,2022-03-10,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",1,99999
39815,99999,vrvyfnvayq.png,2022-03-10,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),1,99999
39816,99999,zuhbtvyrce.png,2022-03-10,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),1,99999

In [ ]:
alldb_dp3